# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production Build Output
dist/

# Local env files
.env*.local
.env

# Editor / IDE configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
